In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/student-performance-dataset/StudentsPerformance.csv
/kaggle/input/student-performance-dataset/student-mat.csv
/kaggle/input/student-performance-dataset/DATA (1).csv

In [2]:
# Remove all extra warnings
import warnings
warnings.filterwarnings('ignore')

# Basic Visualization with data.

In [3]:
df_1 = pd.read_csv("/kaggle/input/student-performance-dataset/StudentsPerformance.csv")
df_1.sample(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
352,female,group C,some college,standard,completed,63,78,80
142,female,group E,some college,free/reduced,completed,42,55,54
916,male,group E,bachelor's degree,standard,completed,100,100,100
61,male,group A,some high school,free/reduced,none,39,39,34
20,male,group D,high school,standard,none,66,69,63
962,female,group E,associate's degree,standard,none,100,100,100
922,male,group D,high school,standard,none,72,66,66
504,female,group D,master's degree,free/reduced,none,40,59,54
448,male,group B,high school,standard,none,47,46,42
207,male,group E,high school,standard,completed,81,80,76

In [4]:
df_copy = df_1.copy()

In [5]:
print('--------lunch column--------')
print(df_1['lunch'].value_counts())
print()
print('--------race/ethnicity column--------')
print(df_1['race/ethnicity'].value_counts())
print()
print('--------parental level of education column--------')
print(df_1['parental level of education'].value_counts())
print()
print('--------test preparation course column--------')
print(df_1['test preparation course'].value_counts())

--------lunch column--------
lunch
standard        645
free/reduced    355
Name: count, dtype: int64

--------race/ethnicity column--------
race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

--------parental level of education column--------
parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

--------test preparation course column--------
test preparation course
none         642
completed    358
Name: count, dtype: int64

In [6]:
df_1.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [7]:
print(df_1['math score'].describe())
print()
print(df_1['reading score'].describe())
print()
print(df_1['writing score'].describe())

count    1000.00000
mean       66.08900
std        15.16308
min         0.00000
25%        57.00000
50%        66.00000
75%        77.00000
max       100.00000
Name: math score, dtype: float64

count    1000.000000
mean       69.169000
std        14.600192
min        17.000000
25%        59.000000
50%        70.000000
75%        79.000000
max       100.000000
Name: reading score, dtype: float64

count    1000.000000
mean       68.054000
std        15.195657
min        10.000000
25%        57.750000
50%        69.000000
75%        79.000000
max       100.000000
Name: writing score, dtype: float64

## Students scoring above/below average

In [8]:
# Calculate *avg* score for each student.
math_avg = df_1['math score'].mean()
reading_avg = df_1['reading score'].mean()
writing_avg = df_1['writing score'].mean()

print(f'Math Avg: {math_avg:.2f}, Reading Avg: {reading_avg:.2f},  Writing Avg: {writing_avg:.2f}')

Math Avg: 66.09, Reading Avg: 69.17,  Writing Avg: 68.05

In [9]:
# Add new column to label scores like `below or above avg`.
df_1['math_lavel'] = df_1['math score'].apply(lambda x: 'Above Avg' if x>math_avg else 'Below Avg')
df_1['reading_lavel'] = df_1['reading score'].apply(lambda x: 'Above Avg' if x>reading_avg else 'Below Avg')
df_1['writing_lavel'] = df_1['writing score'].apply(lambda x: 'Above Avg' if x>writing_avg else 'Below Avg')

In [10]:
# Calculate total and average score across all subjects
df_1['total_score'] = df_1[['math score', 'reading score', 'writing score']].sum(axis=1)
df_1['average_score'] = df_1['total_score'] / 3

# Now calculate overall dataset average
overall_avg = df_1['average_score'].mean()

# Label students as above/below overall average
df_1['overall_level'] = df_1['average_score'].apply(lambda x: 'Above Avg' if x > overall_avg else 'Below Avg')

## Top 10 students per subject

In [11]:
# Top 10 Students in Maths
top_math = df_1.sort_values(by='math score',ascending=False).head(10)
# Top 10 Students in Reading
top_reading = df_1.sort_values(by='reading score',ascending=False).head(10)
# Top 10 Students in Writing
top_writing = df_1.sort_values(by='writing score',ascending=False).head(10)

# Display names with score
print('Top 10 Math Scorers:/n', top_math[['math score']])
print('Top 10 Reading Scorers:/n', top_reading[['reading score']])
print('Top 10 Writing Scorers:/n', top_writing[['writing score']])

Top 10 Math Scorers:/n      math score
962         100
625         100
458         100
623         100
451         100
149         100
916         100
263          99
306          99
114          99
Top 10 Reading Scorers:/n      reading score
546            100
970            100
149            100
566            100
712            100
179            100
886            100
381            100
106            100
903            100
Top 10 Writing Scorers:/n      writing score
179            100
114            100
903            100
403            100
458            100
957            100
962            100
970            100
165            100
916            100